* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(208, 225, 241);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  margin-top: 100px;
  width: 300px;
  height: 430px;
  padding: 20px;
  background-color: rgb(53, 53, 53);
  border: 1px solid black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.calculator .display {
  flex-basis: 25%;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 36px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: right;
}

.calculator .buttons {
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.calculator .buttons .btn {
  flex-grow: 1;
  width: 55px;
  background-color: rgb(53, 53, 53);
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 0px 3px gray;
  cursor: pointer;
  font-size: 18px;
}

.calculator .buttons .btn:hover {
  box-shadow: 0 0 3px 3px gray;
}

.calculator .buttons .btn.op {
  color: gold;
  font-weight: 900;
  font-size: 22px;
}
/* .calculator .buttons .btn.zero {
  flex-grow: 0;
} */
.calculator .buttons .btn.equalsBtn {
  min-width: 124px;
  font-size: 24px;
  font-weight: 600;
  color: gold;
}
